<ion-content>
    <div class="title-container">
        <h1>Cadastro {{title}}</h1>
    </div>
    <div class="form-container" *ngIf="formService.form">
        <form [formGroup]="formService.form" class="register-form" (ngSubmit)="submit()">
            <ion-item>
                <ion-label position="floating" color="medium">Nome</ion-label>
                <ion-input formControlName="firstName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">Sobrenome</ion-label>
                <ion-input formControlName="lastName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">Senha</ion-label>
                <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" icon-right (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">Confirme sua senha</ion-label>
                <ion-input formControlName="passwordConfirmation" [type]="showConfirmPassword ? 'text' : 'password'"></ion-input>
                <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'" icon-right (click)="toggleConfirmPasswordVisibility()"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">E-mail</ion-label>
                <ion-input formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">Telefone</ion-label>
                <ion-input formControlName="phone"></ion-input>
            </ion-item>
            <div class="form-buttons">
                <ion-button color="dark-contrast" type="submit">CADASTRAR</ion-button>
                <ion-button color="dark-contrast" type="button" (click)="goBack()">CANCELAR</ion-button>
            </div>
        </form>
    </div>
</ion-content>