.title-container {
    display: flex;
    justify-content: center;
    h1 {
        text-align: center;
        width: 40%;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    .register-form {
        width: 85%;
        ion-item {
            --background: black;
        }
    }
}

.form-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

ion-icon {
    position: absolute;
    right: 2%;
    bottom: 10%;
    z-index: 1000;
    font-size: 1.4rem;
    color: #999999;
}