.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35%;
}

.type-buttons {
    position: absolute;
    text-align: center;
    width: 85%;
    bottom: 10%;
    left: 7.5%;
}

p {
    margin-top: 5vh;
}

ion-button {
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    margin-bottom: 8%;
}