<ion-content>
    <div class="logo">
        <img src="assets/images/drawable-ldpi/logocerta2.0.png" alt="AppLogo">
        <h1>Tipo de Cadastro</h1>
    </div>
    <div class="type-buttons">
        <ion-button expand="full" color="cdark" (click)="navigate('TATUADOR')">Tatuador</ion-button>
        <ion-button expand="full" color="scdark" (click)="navigate('CLIENTE')">Cliente</ion-button>
        <p (click)="goBack()">VOLTAR</p>
    </div>
</ion-content>