.container {
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form-fields {
            width: 85%;
        }
        .form-buttons {
            width: 85%;
            margin: 5% 0 10% 0;
        }
    }
}

ion-icon {
    position: absolute;
    right: 2%;
    bottom: 10%;
    z-index: 1000;
    font-size: 1.4rem;
}

p,
ion-icon {
    color: #999999;
}

ion-item {
    --background: black;
}

ion-button {
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    margin-bottom: 8%;
}