<ion-content class="container">
    <div class="logo">
        <img src="assets/images/drawable-ldpi/logocerta2.0.png" alt="AppLogo">
        <h1>Tattoo Studio</h1>
    </div>

    <form [formGroup]="formService.form" class="login-form" (ngSubmit)="login()">
        <div class="form-fields">
            <ion-item>
                <ion-label position="floating" color="medium">Email</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" color="medium">Password</ion-label>
                <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" icon-right (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
        </div>
        <div class="form-buttons">
            <ion-button expand="full" color="cdark" type="submit">Log In</ion-button>
        </div>
        <p (click)="navigate('public/register')">Não possui uma conta? Registre-se</p>
    </form>
</ion-content>